$mainBlue: #34495e;

body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}



/*col widths*/
.col-4-md{
    float: left;
    width: 100%;

    @mixin atMedium{
        width: 33.33%;
    }
}

.container{
    padding-left: 18px;
    padding-right: 18px;
}
