/*header*/
.headerInfo{
    width: 100%;
    height: 15rem;
    background-color: $mainBlue;
    color: #fff;


    @mixin atMedium{
        height: 20rem;
    }


    &__title{
        padding-top: 4rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 200;
        margin-bottom: 0;

        @mixin atSmall{
            font-size: 4.5rem;
        }

        @mixin atMedium{
            font-size: 7rem;
        }
    }

    &__subtitle{
        margin-top: .5rem;
        text-align: center;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.2rem;
        font-weight: 200;

        @mixin atMedium{
            font-size: 1.2rem;
        }
    }
}
